<template>
    <div class="m-auto" style="max-width:600px">
        <h1>Nouvel utilisateur</h1>
        <form action="" class="form"  @submit="submit">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" v-model="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="lastname">Prénom</label>
                <input type="text" v-model="lastname" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" v-model="password" class="form-control">
            </div>
            <button class="btn  btn-primary" type="submit">Ajouer</button>
        </form>
    </div>
</template>

<script>
export default {
  name: 'AddUser',
  data( ) {
      return {
      name: null,
      lastname:null,
      password:null}
  },
  methods:{
    submit: function (e) {
        const axios = require('axios');
        axios.post('http://localhost:3000/users',{
            name: this.name,
            lastname: this.lastname,
            password: this.password
        }).
        then( response => {
            if(response.data.statusCode==201 || response.data.statusCode==200){
                window.location.href = '/users'
            }
        })

        e.preventDefault();
    }
  }
}
</script>