<template>
    <div class="m-auto" style="max-width:600px">
        <h1>Nouvelle voiture</h1>
        <form action="" class="form"  @submit="submit">
            <div class="form-group">
                <label for="marque">Marque</label>
                <input type="text" v-model="marque" class="form-control">
            </div>
            <div class="form-group">
                <label for="modele">Modele</label>
                <input type="text" v-model="modele" class="form-control">
            </div>
            <button class="btn  btn-primary" type="submit">Ajouer</button>
        </form>
    </div>
</template>

<script>
export default {
  name: 'AddVoiture',
  data( ) {
      return {
      marque: null,
      modele:null
    }
  },
  methods:{
    submit: function (e) {
        const axios = require('axios');
        const userId = this.$route.params.userId;
        axios.post('http://localhost:3000/voitures',{
            marque: this.marque,
            modele: this.modele,
            "user": parseInt(userId, 10)
        }).
        then( response => {
            if(response.data.statusCode==201 || response.data.statusCode==200){
                window.location.href = '/users/voitures/' + userId;
            }
        })

        e.preventDefault();
    }
  }
}
</script>