<template>
    <div class="m-auto" style="max-width:600px">
        <h1>Nouvelle voiture</h1>
        <form action="" class="form"  @submit="submit">
            <div class="form-group">
                <label for="marque">Marque</label>
                <input type="text" v-model="marque" class="form-control">
            </div>
            <div class="form-group">
                <label for="modele">Modele</label>
                <input type="text" v-model="modele" class="form-control">
            </div>
            <button class="btn  btn-primary" type="submit">Modifier</button>
        </form>
    </div>
</template>

<script>
export default {
  name: 'UpdateVoiture',
  data( ) {
      return {
      marque: null,
      modele:null
    }
  },
  methods:{
       getinfo: function () {
        const axios = require('axios');
        axios.get('http://localhost:3000/voitures/' + this.$route.params.voitureId)
             .then( response => {
            if(response.data.statusCode==201 || response.data.statusCode==200){
                const info = response.data.data;
                this.marque = info.marque;
                this.modele = info.modele;
            }
        })
    },
    submit: function (e) {
        const axios = require('axios');
        const voitureId = this.$route.params.voitureId;
        axios.patch('http://localhost:3000/voitures/' + voitureId,{
            marque: this.marque,
            modele: this.modele
        }).
        then( response => {
            if(response.data.statusCode==201 || response.data.statusCode==200){
                window.location.href = '/users/voitures/' + this.$route.params.userId;
            }
        })

        e.preventDefault();
    }
  },
  created(){
      this.getinfo();
  }
}
</script>