<template>
    <div class="m-auto" style="max-width:600px">
        <h1>Modification d'utilisateur</h1>
        <form action="" class="form"  @submit="submit">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" v-model="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="lastname">Prénom</label>
                <input type="text" v-model="lastname" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" v-model="password" class="form-control" placeholder="Uniquement si vous voulez changer de mot de passe">
            </div>
            <button class="btn  btn-primary" type="submit">Modifier</button>
        </form>
    </div>
</template>

<script>
export default {
  name: 'UpdateUser',
  data( ) {
      return {
      name: null,
      lastname:null,
      password:null}
  },
  methods:{
    getinfo: function () {
        const axios = require('axios');
        axios.get('http://localhost:3000/users/' + this.$route.params.id)
             .then( response => {
            if(response.data.statusCode==201 || response.data.statusCode==200){
                const info = response.data.data;
                this.name = info.name;
                this.lastname = info.lastname;
            }
        })
    },
    submit: function (e) {
        const axios = require('axios');
        const id = this.$route.params.id;
        axios.patch('http://localhost:3000/users/' + id ,{
            id: id,
            name: this.name,
            lastname: this.lastname,
            password: this.password
        }).
        then( response => {
            if(response.data.statusCode==201 || response.data.statusCode==200){
                window.location.href = '/users'
            }
        })

        e.preventDefault();
    }
  },
  created(){
      this.getinfo();
  }
}
</script>