<template>
  <div>
    <h1>Liste des utilisateurs</h1>
    <router-link to="/users/new" class="btn btn-primary m-1 float-right">Ajouter un utilisateur</router-link>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="user in users" :key="user.id">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>
        <router-link v-bind:to="'/users/update/' + user.id" class="btn btn-primary mr-1">Modifier</router-link>
        <router-link v-bind:to="'/users/voitures/' + user.id" class="btn btn-success mr-1">Voitures</router-link>
        <a v-bind:href="'/users/delete/' + user.id" class="btn btn-danger" v-on:click="deleteuser($event)">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</template>

<script>
const axios = require('axios');
export default {
 name: 'UserList',
  data() {
    return {
      users : null
    };
  },
  methods: {
          getUsers() {
              axios.get('http://localhost:3000/users')
                  .then( (response) =>{
                    this.users = response.data.data
                  })
                  .catch( error => { console.log("Request error => ", error) })
          },
          deleteuser(event){
            event.preventDefault()
            const arr = event.target.href.split('delete/');
            const id = arr[arr.length-1]
            axios.delete('http://localhost:3000/users/' + id)
                  .then(res => {
                    if(res.data.statutCode !== 404){
                      window.location.href = "/users"
                    }
                  })
          }
        },
 created() {
   this.getUsers();
 }
}
</script>