<template>
  <div>
    <h1>Liste des Voitures</h1>
    <router-link  v-bind:to="'/voitures/' + this.$route.params.userId" class="btn btn-primary m-1 float-right">Ajouter une voiture</router-link>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marque</th>
      <th scope="col">Modele</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="voiture in voitures" :key="voiture.id">
      <th scope="row">{{voiture.id}}</th>
      <td>{{voiture.marque}}</td>
      <td>{{voiture.modele}}</td>
      <td>
        <router-link v-bind:to="'/voitures/update/' + userId + '/' + voiture.id" class="btn btn-primary mr-1">Modifier</router-link>
        <a v-bind:href="'/voitures/delete/' + voiture.id" class="btn btn-danger" v-on:click="deletevoiture($event)">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</template>

<script>
const axios = require('axios');
export default {
 name: 'VoitureList',
  data() {
    return {
        userId:  + this.$route.params.userId,
      voitures : null
    };
  },
  methods: {
          getvoitures() {
              axios.get('http://localhost:3000/voitures/user/' + this.$route.params.userId)
                  .then( (response) =>{
                    this.voitures = response.data.data
                  })
                  .catch( error => { console.log("Request error => ", error) })
          },
          deletevoiture(event){
            event.preventDefault()
            const arr = event.target.href.split('delete/');
            const id = arr[arr.length-1]
            console.log(id)
            axios.delete('http://localhost:3000/voitures/' + id)
                  .then(res => {
                    if(res.data.statutCode !== 404){
                      window.location.href = "/users/voitures/" + this.$route.params.userId
                    }
                  })
          }
        },
 created() {
   this.getvoitures();
 }
}
</script>